<div class="w-100 d-flex" id="login-ele">
  <div class="w-70">
    <img src="/assets/whitebg.png" alt="" />
    <div class="d-flex justify-content-center align-items-center">
      <img src="/assets/loginpic.png" alt="" />
    </div>
  </div>
  <div class="w-30 ndclass">
    <div class="d-flex justify-content-end">
      <mat-icon-button class="m-2" [matMenuTriggerFor]="languageMenu">
        <mat-icon>language</mat-icon>
      </mat-icon-button>

      <mat-menu class="me-2" #languageMenu="matMenu">
        <div
          class="pointer"
          *ngFor="let language of languages"
          (click)="selectLanguage(language)"
          [ngClass]="{
            'selected-language': selectedLanguage === language.code
          }"
        >
          {{ "language." + language.name.toUpperCase() | translate }}
        </div>
      </mat-menu>
    </div>
    <div class="center">
      <h5 class="mb-5 me-5 fs-4">{{ "welcomeToModern" | translate }}WMS!👋🏻</h5>
      <form>
        <div class="example-container">
          <div>
            <mat-form-field class="example-form-field" appearance="outline">
              <mat-label>{{ "userName" | translate }}</mat-label>
              <input
                placeholder="Enter your password"
                matInput
                [type]="email"
                [(ngModel)]="email"
                name="email"
                required="True"
              />
              <button
                required="True"
                type="button"
                mat-icon-button
                matSuffix
                (click)="email = ''"
                [attr.aria-label]="'Remove E-mail'"
                [attr.aria-pressed]="'Cleared'"
              >
                <mat-icon>{{ "close" }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-form-field" appearance="outline">
              <mat-label>{{ "enterYourPassword" | translate }}</mat-label>
              <input
                placeholder="Enter your password"
                matInput
                [type]="hide() ? 'password' : 'text'"
                [(ngModel)]="password"
                name="password"
                required="True"
              />
              <button
                required="True"
                type="button"
                mat-icon-button
                matSuffix
                (click)="clickEvent($event)"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide()"
              >
                <mat-icon>{{
                  hide() ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <section class="example-section">
          <mat-checkbox
            color="primary"
            class="example-margin"
            [(ngModel)]="rememberMe"
            name="rememberMe"
            (change)="toggleRememberMe()"
            >{{ "rememberMe" | translate }}</mat-checkbox
          >
        </section>
        <button class="w-100" type="submit" (click)="login()" mat-raised-button>
          {{ "signIn" | translate }}
        </button>
      </form>
    </div>
  </div>
  <footer class="text-center justify-content-center footer">
    <a href="#" class="d-block font">
      CopyRight © 2023 ModernWMS All Rights Reserve
    </a>
    <a
      href="#"
      class="d-block text-decoration-none text-muted font"
      id="editedanchor"
      >闽ICP备2021008548号</a
    >
  </footer>
</div>
