<h2 mat-dialog-title class="text-center">Company Information </h2>
<mat-dialog-content >
  <form [formGroup]="receivengData">
    <app-miniforminput [label]="'Asn Number'" [placeholder]="'asnNumber'" [controlName]="'asnNumber'"> </app-miniforminput>
    <app-miniforminput [label]="'Batch'" [placeholder]="'Batch'" [controlName]="'batch'"> </app-miniforminput>
    <app-miniforminput [label]="'Goods Owner Name'" [placeholder]="'Goods Owner Name'" [controlName]="'goodsOwnerName'"> </app-miniforminput>
    <app-miniforminput [label]="'Estimated Time Arrival'" [placeholder]="'Estimated Time Arrival'" [controlName]="'estimatedTimeArrival'"> </app-miniforminput>
</form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="warn" (click)="onNoClick()">Cancel</button>
  <button mat-button [disabled]="!receivengData.valid" (click)="submit()" cdkFocusInitial>Submit</button>
</mat-dialog-actions>
